<div id="booking" class="section">
    <div class="section-center">
        <div class="container-fluid">
            <div class="row header">
                <div class="col-lg-6 col-12">
                <div class="d-flex">
                <a href="#" class="mt-1"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>
                <h5>Your Loan application</h5>
                </div>
                </div>
                <div class="col-lg-6 col-12 text-right">
                <!-- <button class="btn sign-out-btn">
                    <i class="fas fa-sign-out-alt"></i>
                </button> -->
                 <a href="#" class="mt-1"> <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 left-side-text left-side-text21 ">
                    <p>Don't Wait To Own</p>
                    <h1>Your House</h1>
                    <!-- <div class="form-btn">
                    <button class="btn submit-btn">Get Loan &nbsp; <i class="fas fa-arrow-right"></i></button>
                    </div> -->
                </div>
                <div class="col-lg-6 col-12 booking-form">
                    <div class="form-header">
                        
                    </div>
                    <form>
                        <div class="form-group">
      <label>Is your Name :</label>
     <span class="float-right">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
        <label for="vehicle1"> YES</label>
        &nbsp;&nbsp;
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
        <label for="vehicle1"> NO</label>
      </span>
    </div>
    <div class="form-group">
      <label>Is your Date of Birth :</label>
      <span class="float-right">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
        <label for="vehicle1"> YES</label>
        &nbsp;&nbsp;
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
        <label for="vehicle1"> NO</label>
      </span>
    </div>
    <div class="form-group">
      <label>Is your Father Name :</label>
      <span class="float-right">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
        <label for="vehicle1"> YES</label>
        &nbsp;&nbsp;
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
        <label for="vehicle1"> NO</label>
      </span>
    </div>
    <div class="form-group">
      <label>Is your House Address :</label>
      <span class="float-right">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
        <label for="vehicle1"> YES</label>
        &nbsp;&nbsp;
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
        <label for="vehicle1"> NO</label>
      </span>
    </div>
    <div class="form-group">
      <label>Did you apply for :</label>
      <span class="float-right">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
        <label for="vehicle1"> YES</label>
        &nbsp;&nbsp;
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
        <label for="vehicle1"> NO</label>
      </span>
    </div>
    <div class="form-btn text-center">
                            <button class=" submit-btn">Next</button>
                        </div>
                        <!-- <div class="form-group">
                            
                            <input class="form-control" type="text" placeholder="your name">
                        </div>
                        
                        <div class="form-group">
                            
                            <input class="form-control" type="text" placeholder="Date of Birth">
                        </div>
                        
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Enter your phone number">
                        </div>
                        <div class="form-group">
                            
                            <input class="form-control" type="text" placeholder="Father/Mother/Occupation">
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option selected="selected">Rooms you have in your house</option>
                            </select>
                        </div>
                        <div class="form-group">
                            
                            <input class="form-control" type="text" placeholder="address">
                        </div>
                        
                        <div class="form-btn text-center">
                            <button class="btn submit-btn">Book Now</button>
                        </div> -->
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>